
<!-- Sidebar -->
<div class="sidebar" data-background-color="dark" th:fragment="sidebar">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/admin/dashboard" class="logo">

                    <span style="color: white; font-weight: bold; margin-left: 8px; font-size: larger;"
                          th:text="${utilisateur.profil.profil}">
                    </span>

            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a href="/admin/dashboard">
                        <i class="far fa-chart-bar"></i>
                        <p>Tableau de bord</p>
                        <span class="caret"></span>
                    </a>
                </li>
                <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
                    <h4 class="text-section">Module</h4>
                </li>

                <!--siderBar espace debut-->
                <li class="nav-item" accept-charset="UTF-8">
                    <a data-bs-toggle="collapse" href="#espaceSider">
                        <i class="fas fa-thermometer-half"></i>
                        <p>Espace de travail</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="espaceSider">
                        <ul class="nav nav-collapse">
                            <li>
                                <a class="nav-link" href="/admin/espace/import">
                                    <span class="sub-item">Import CSV</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="sub-item">Insertion</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/espaces">
                                    <span class="sub-item">Liste</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--siderBar espace fin-->
                <!--siderBar option debut-->
                <li class="nav-item" accept-charset="UTF-8">
                    <a data-bs-toggle="collapse" href="#optionSider">
                        <i class="fas fa-thermometer-half"></i>
                        <p>Option</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="optionSider">
                        <ul class="nav nav-collapse">
                            <li>
                                <a class="nav-link" href="/admin/option/import">
                                    <span class="sub-item">Import CSV</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="sub-item">Insertion</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/options">
                                    <span class="sub-item">Liste</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--siderBar option fin-->
                <!--siderBar reservation debut-->
                <li class="nav-item" accept-charset="UTF-8">
                    <a data-bs-toggle="collapse" href="#reservationSider">
                        <i class="fas fa-thermometer-half"></i>
                        <p>Reservation</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="reservationSider">
                        <ul class="nav nav-collapse">
                            <li>
                                <a class="nav-link" href="/admin/reservation/import">
                                    <span class="sub-item">Import CSV</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="sub-item">Insertion</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/reservations">
                                    <span class="sub-item">Liste</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--siderBar reservation fin-->
                <!--siderBar paiement debut-->
                <li class="nav-item" accept-charset="UTF-8">
                    <a data-bs-toggle="collapse" href="#paiementSider">
                        <i class="fas fa-thermometer-half"></i>
                        <p>Paiement</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="paiementSider">
                        <ul class="nav nav-collapse">
                            <li>
                                <a class="nav-link" href="/admin/paiement/import">
                                    <span class="sub-item">Import CSV</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="sub-item">Insertion</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/paiements">
                                    <span class="sub-item">Liste</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--siderBar paiement fin-->

                <!--siderBar paiement debut-->
                <li class="nav-item" accept-charset="UTF-8">
                    <a data-bs-toggle="collapse" href="#validationSider">
                        <i class="fas fa-thermometer-half"></i>
                        <p>Validation Paiement</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="validationSider">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="">
                                    <span class="sub-item">validation</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--siderBar paiement fin-->
                <!--siderBar deconnection debut-->
                <li class="nav-item">
                    <a href="">
                        <i class="fas fa-sign-out-alt"></i>
                        <p style="color: crimson;">Deconnection</p>
                    </a>
                </li>
                <!--siderBar deconnection fin-->

            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->

